body{ 
    margin:0;
    padding:0;
    box-sizing: border-box


}
.card_img2{
    width: 330px;
}



.footer{
    background-color: #bfd8e2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
